<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004015341390-llkjkpbps8fj1oelvo8a5vvvjdid9pde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004015341390-llkjkpbps8fj1oelvo8a5vvvjdid9pde</string>
	<key>API_KEY</key>
	<string>AIzaSyDte5qBdoGPIHNa0N3OqB0TT4wrfaohDP4</string>
	<key>GCM_SENDER_ID</key>
	<string>1004015341390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pushnotificationDemo</string>
	<key>PROJECT_ID</key>
	<string>notificationdemo-c0f28</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationdemo-c0f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004015341390:ios:0c89b3ca34f2f5fd4d981f</string>
</dict>
</plist>